{
    "token": "",
    "prefix": ".",
    "guild": "",
    "mom": "",
    "roles": {
        "mod": "",
        "helper": ""
    },
    "channels": {
        "joins": ""
    },
    "jira": {
        "baseUrl": "",
        "issueTypes": {
            "bug": 10005,
            "task": 10002
        }
    }
}